*.bak
*.swp
.mixin.out
1.16.5.json
config/minecraft2discord.toml
crash-reports
eula.txt
forge-1.16.5-36.0.42-installer.jar
forge-1.16.5-36.0.42-installer.jar.log
forge-1.16.5-36.0.42.jar
libraries
logs
minecraft_server.1.16.5.jar
mods
ops.json
usercache.json
usernamecache.json
whitelist.json

# world's serverconfig is hard
!world

world/*
!world/serverconfig
